* {
    main-bg:            #1E0827E6;
    main-fg:            #B58BA5;
    main-br:            #4C1545;
    main-ex:            #3E243C;
    select-bg:          #73107F;
    select-fg:          #E1F7D8;
}
